@keyframes zoomCircle {
  from {
    transform: translate(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
