.quote {
  background-color: #fcfcfc;

  .container {
    position: relative;
  }

  .quote-main {
    &__name {
      margin-top: 30px;
      font-size: 18px;
      text-align: center;
      padding-bottom: 100px;

      span {
        font-weight: 800;
        color: #f61067;
      }

      @media all and (max-width: 575.98px) {
        font-size: 14px;
      }
    }

    .quote-author {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__photo {
        margin-top: -125px;
        @media all and (max-width: 1023.98px) {
          max-width: 40%;
        }
        @media all and (max-width: 575.98px) {
          max-width: 70%;
        }
      }

      &__item {
        margin-top: -30px;
        @media all and (max-width: 1023.98px) {
          width: 10%;
        }
        @media all and (max-width: 575.98px) {
          width: 20%;
        }
      }
    }

    .quote-block {
      display: flex;
      align-items: center;

      &__arrow {
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        margin-top: 70px;
        background-color: #f61067;
      }

      &__text {
        font-family: "Noticia Text", serif;
        font-size: 36px;
        line-height: 177%;
        width: 750px;
        text-align: center;
        margin: 0 auto;
        margin-top: 65px;
        @media all and (max-width: 1023.98px) {
          font-size: 24px;
        }
        @media all and (max-width: 575.98px) {
          font-size: 18px;
        }
      }
    }
  }

  .quote-background {
    @media all and (max-width: 1023.98px) {
      display: none;
    }
    &__item {
      &:nth-child(1) {
        position: absolute;
        top: 20px;
        left: 100px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 130px;
        left: 200px;
      }

      &:nth-child(3) {
        position: absolute;
        top: 270px;
        left: 0px;
      }

      &:nth-child(4) {
        position: absolute;
        top: 0;
        right: 0;
      }

      &:nth-child(5) {
        position: absolute;
        top: 100px;
        right: 100px;
      }

      &:nth-child(6) {
        position: absolute;
        top: 220px;
        right: 250px;
      }

      &:nth-child(7) {
        position: absolute;
        top: 260px;
        right: 0px;
      }
    }
  }
}
